# 임시 파일 및 로그
*.log
*.tlog
*.tmp
*.bak
*.cache
*.csproj
*.sln
*.suo
*.user
*.userosscache
*.VC.db
*.VC.opendb

# 빌드 디렉토리
**/x64/**

# macOS 시스템 파일
.DS_Store

# ----------------------------------
# Visual Studio
# ----------------------------------
.vs/

# ----------------------------------
# Visual Studio Code
# ----------------------------------
.vscode/

# ----------------------------------
# JetBrains Rider
# ----------------------------------
.idea/
